* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background: white;
  justify-content: space-between;
}

.prompt {
  overflow: hidden;
  overflow-y: scroll;
  height: 20px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.up, .down {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: rgb(103, 105, 131);
}

.up {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.down {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.arrows {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-between;
}

.drawingArea {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}