* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background: rgb( 220, 222, 222 );
  justify-content: space-between;
}

.prompt {
  overflow: hidden;
  overflow-y: scroll;
  height: 20px;
}

button {
  position: fixed;
  min-height: 50px;
  width: 200px;
  border: transparent;
  transition-duration: 300ms;
  font-size: 1.1em;
  background-color: rgb( 220, 222, 222 );
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1);
  color: whitesmoke;
}

#clear {
  right: 25px;
  top: 25px;
}

#rainbow {
  right: 250px;
  top: 25px;
}

#clear:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.3s ease;
}

#clear:hover:before {
  top: 0;
}

#rainbow:before {
  content: '';
  position: absolute;
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0%;
  z-index: -1;
  transition: right 0.3s ease;
}

#rainbow:hover:before {
  right: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.up, .down {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: rgb(103, 105, 131);
}

.up {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.down {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.arrows {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-between;
  margin-top: 10px;
}

.drawingArea {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}